<div class="section-top-border">
	<div class="row">
		<div class="col-md-12">
			<h3 class="mb-20">Resultado</h3>
			<div class="typography">
				<h2>Total:  <%= data.total_amount%> <%= data.to%></h2>
				</div>
				<h4>1 <%= data.from %> =  <%= data.converted_value%> <%= data.to%>  </h4>
			
		</div>
	</div>
</div>