<!doctype html>
<html lang="en">

<head>
    <title>Currency Converter</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-3 font-weight-bold text-center">Currency <i class="material-icons" style="font-size:65px;border-radius:100px;border:10px solid black">&#xE227;</i> Converter</h1>
            <hr class="my-4">

            <div class="alert alert-success text-center" role="alert">
                <h4 class="alert-heading">Seja Bem-Vindo!</h4>
                <p>Vamos fazer a conversão entre diversas moedas suportadas pelo site
                    <a href="https://openexchangerates.org/">https://openexchangerates.org/</a>?</p>
            </div>

            <form action="/convert" method='GET' enctype="text/html">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="amount">Valor</label>
                            <div class="input-group">
                                <span class="input-group-addon">$</span>
                                <input type="number" class="form-control" id="amount" name="amount" value="<%= amount %>" aria-describedby="amountHelp" placeholder="Digite o valor">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="from">Moeda Origem</label>
                            <select class="form-control custom-select" id="from" name="from" value="<%= from %>">
                                <option>Seleciona uma moeda</option>
                                <% for (i = 0; i < currencies.length; i++) { %>
                                    <option <%= currencies[i] == from ? 'selected' : '' %>><%= currencies[i] %></option>
                                <% } %>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="to">Moeda Destino</label>
                            <select class="form-control custom-select" id="to" name="to" value="<%= to %>">
                                <option>Seleciona uma moeda</option>
                                <% for (i = 0; i < currencies.length; i++) { %>
                                    <option <%= currencies[i] == to ? 'selected' : '' %>><%= currencies[i] %></option>
                                    <% } %>
                            </select>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-lg btn-block">Converter</button>
            </form>

            <hr class="my-4">

            <div class="alert alert-warning text-center" role="alert">
                <% if (typeof convertion.length != 'undefined') { %>
                    <h4 class="alert-heading">Convertido!</h4>
                <% } %>
                <%= typeof convertion.length != 'undefined' ? convertion : 'Vamos realizar uma conversão?' %>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
</body>

</html>
